body{
    background-color: #121212;
}
.todo-container{
    position: absolute;
    left: 50%;
    top: 5%;
    transform:translateX(-50%);
    border: 1px solid #fff;
    min-height: 55px;
    min-width: 400px;
    display: grid;
    
    padding: 20px 5px;
    background-color: lightgray;
    border-radius: 5px;
}

.input-btn{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

input{
    height: 40px;
    width: 300px;
    padding: 5px;
}
button{
    height: 53px;
    width: 50px;
}