.input-container{
    border: 1px solid orange;
    height: 80px;
    margin: 15px;
    border-radius: 5px;
    display: grid;
    padding: 10px;
    background-color: #fff;
}
.labels{
    display: flex;
    justify-content: space-between;
    
}
.inputs{
    display: flex;
    justify-content: space-between;
}